In [1]:
import pandas as pd
df = pd.read_csv('geo_q1.csv')
df

,Geo,Genealogical researcher,GLAM professional,Government employee,Legal researcher,Member of the general public,Post-secondary researcher,Student,Teacher
0,"Ottawa, Canada",10,5,8,1,11,2,3,0
1,"Vancouver, Canada",2,3,0,1,6,3,1,1
2,"Tucson, United States",2,0,0,0,0,0,0,0
3,"London, Canada",6,1,0,0,6,6,5,1
4,"Gardiner, United States",0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...
314,"Sydney, Australia",0,0,0,0,1,0,0,0
315,"Bath, United Kingdom",0,0,0,0,1,0,0,0
316,"Parksville, Canada",0,0,0,0,1,0,0,0
317,"Moser River, Canada",0,0,0,0,1,0,0,0
318,"Milan, Italy",0,0,0,0,0,0,1,0

In [2]:
import pandas as pd
df = pd.read_csv('geo_q2.csv')
df

,Geo,Computer Science,Digital Humanities,Education,Environment/Climate,Gender Studies,Genealogy,Geography,Health,History,Indigenous Land Claims,Indigenous Studies,Information Science,Law,Linguistics,Literature,Political Science
0,"Ottawa, Canada",0,3,3,3,0,14,4,3,22,4,5,2,5,1,4,0
1,"Vancouver, Canada",1,1,2,1,1,4,3,3,12,5,4,1,2,0,2,2
2,"Tucson, United States",0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0
3,"London, Canada",0,2,1,2,2,6,0,0,14,0,1,0,2,0,3,3
4,"Gardiner, United States",0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,"Sydney, Australia",0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
315,"Bath, United Kingdom",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
316,"Parksville, Canada",0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
317,"Moser River, Canada",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
318,"Milan, Italy",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

There is a lot more that you can do with outputs (such as including interactive outputs)
with your book. For more information about this, see [the Jupyter Book documentation](https://jupyterbook.org)